/* main.css */

html {
	background-color: blue;
}

header {
	color: coral;
}

body.nav {
	color: red;
	display: block;
}

#writing {
	font-weight: normal;
	font-style: italic;
	text-decoration: underline;
}

#bold {
	text-decoration: bold;
}

#italic {
	text-decoration: italic;
}

#underline {
	text-decoration: underline;
}

h1 {
	color: coral;
}

p {
	color: coral;
}